* {
    font-family: tahoma;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 18px;
}

div {
    padding: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: #f5deb3;
    border: 1px solid #CCC;
    margin-top: 10px;
}

#userlist {
    padding: 5px;
    background: #ddd;
    border-radius: 5px; 
    border: 1px solid #CCC;
    margin-top: 10px;
}

#content {
    display: box;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-top: 10px;
}

.left {
    width: 88px;
    display: block;
    float: left;
    margin-top: 15px;
}

#name {
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
}

#password  {
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
}

#user-controls {
    display: none;
}

#logout {
    display: block;
    float: right;
}