* {
    padding:0 0 0 0;
}
h1 {
    color: black;
}

body {
    background-color: white;
    font-family:sans-serif;
    padding:0 0 0 0;
    margin: 0 0 0 0 ;
}

p {
    color: black;
}

hr{
    color: black;
    background-color: black;
    border-width:1px;
    height: 0px;
    border-style:solid;
}

div.fullPage{
    position:absolute;
    width:100%;
    height:100%;
}

/*PAGE ONE LOGIN*/
div#pageLogin{
    display:none;
}

div.center{
    background-color:white;
    text-align:center;
    position:relative;
    border-color:black;
    border-style:solid;
    border-width: 1px;
}

div#login{
    
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
}

/*PAGE TWO LOBBY*/
div#pageLobby{
    display:none;
}

div#lobby{
    margin-left: -150px;
    margin-top: -200px;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
}

/*PAGE THREE GAME*/
div#pageGame{
    display:none;
}

div#game{
    margin-left: -250px;
    margin-top: -300px;
    width: 500px;
    height: 600px;
    top: 50%;
    left: 50%;
}

canvas{
    border-style:solid;
    border-width: 1px;
    width: 400px;
    height:400px;
}

ul {
    display: block;
    list-style-type: none;
}

li {
    font-family: monospace;
}

.bottom{
    display: inline-block;
    float: bottom;
}

div.player{
    border-color:black;
    border-style:solid;
    border-width: 1px;
    width: 250px;
    font-family: monospace;
}

div#playerListBox{
    height: 180px;
}

#loginStatus{
    color: red;
    font-size: 9px;
}